@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /*CORES */
  --cor-50: #FFFDE0;   /* Quase branco, com um toque amarelado */
  --cor-100: #FFF2C0;  /* Amarelo muito claro e suave */
  --cor-200: #FFE6A0;  /* Amarelo pastel, luminoso */
  --cor-300: #FFDA80;  /* Um amarelo dourado mais vibrante */
  --cor-400: #F2CC60;  /* Dourado claro, com bastante brilho */
  --cor-500: #C9942B;  /* SEU DOURADO BASE #C9942B (ou F2D76A, dependendo do que você quer como 500) */
  --cor-600: #AD8025;  /* Um marrom dourado mais escuro e rico */
  --cor-700: #8C661F;  /* Marrom profundo, com subtom dourado */
  --cor-800: #6B4D18;  /* Marrom bem escuro e denso */
  --cor-900: #4A3311;  /* Marrom quase preto, com a essência do dourado */

  --black-50: #e6e6e6;
  --black-100: #b0b0b0;
  --black-200: #8a8a8a;
  --black-300: #545454;
  --black-400: #333333;
  --black-500: #1E1E1E;
  --black-600: #000000;


  /*TEXTOS */
  --xl-text-size: 3.833rem;
  --xl-2-text-size: 3.056rem;
  --lg-text-size: 2.444rem;
  --lg-2-text-size: 1.944rem;
  --md-text-size: 1.556rem;
  --md-2-text-size: 1.278rem;
  --sm-text-size: 1.000rem;
  --sm-2-text-size: 0.778rem;
  --sm-3-text-size: 0.667rem;

}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}